/* page.css */
body {
    background-color: var(--color-background-body);
    font-family: var(--font-family-body);
    margin: var(--margin-body);
    padding: var(--padding-body);
    line-height: var(--line-height-body);
    font-size: var(--font-size-body);
    color: var(--color-text);
}

h1, h2 {
    font-family: var(--font-family-header);
    color: var(--color-text-body);
}

h3 {
    font-family: var(--font-family-body);
    color: var(--color-text-header);
}

svg.icon {
    display: inline;
    height: 1em;
    width: 1em;
    vertical-align: top;
    fill: var(--color-icon-fill);
}

h1 a {
    color: var(--color-text-body);
    text-decoration: none;
}

h1 a:hover {
    color: var(--color-accent);
}

ul li {
    font-family: var(--font-family-body);
    font-size: var(--font-size-list-item);
    margin-bottom: 10px;
}

ul li a {
    color: var(--color-link);
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
}
